
/* rule reset */
h1 {
    margin: 0;
}
h2 {
    margin: 0;
}
/* rule reset */

body {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

/* Header styles */
header {
    height: 100px;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 200px; 
}
header h1 {
    line-height: 100px;
    font-size: 2em;
}
.header-inner {
  display: flex;
  align-items: center;
  gap: 15px;
}
/* زر القائمة */
.menu-toggle {
  all: unset;
  font-size: 20px;
  cursor: pointer;
  color: #fff;
  display: none;
}
/* Header styles */

/* Sidebar styles */
nav.sidebar {
    width: 200px;
    background-color: #222;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    transform: none;
    transition: .3s ease;
    z-index: 1000;
}
nav.sidebar.open {
  transform: translateX(0);
}
nav.sidebar .logo {
    text-align: center;
    height: 100px;
    background-color: #333;
    color: #fff;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.sidebar ul {
    padding: 0;
    margin: 0;
}
.sidebar ul li {
    list-style: none;
    border-bottom: 1px solid #555;
}
.sidebar ul li button {
    width: 100%;
    background-color: #222;
    border: none;
    text-align: right;
    color: #ffffff;
    padding: 10px 20px 10px 10px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}
.sidebar ul li button:hover,
.sidebar ul li button:active {
    background-color: #3d3d3d;
}
.sidebar ul li button i {
    margin-left: 10px;
}
.page {
    display: none;
    }
    .page.active {
    display: block;
}

/* Overlay */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.4);
  display: none;
  z-index: 900;
  transition: opacity 0.3s ease;
}

/* عند الفتح */
.overlay.show {
  display: block;
  opacity: 1;
}
.sidebar.open {
  right: 0;
}
/* Overlay */
/* Sidebar styles */
/* Main content styles */
main.content {
    margin-right: 200px; 
    padding: 10px;
}

/* Main content styles */
.content {
    margin-right: 0;
}
/* Main content styles */

/* ===================== */
/* 📱 Mobile Responsive */
/* ===================== */
@media (max-width: 768px) {

  header {
    margin-right: 0;
  }

  .menu-toggle {
    display: block;
  }
  .sidebar {
    transform: translateX(100%);
    }

  nav.sidebar {
    transform: translateX(100%);
    transition: 0.3s ease;
    z-index: 1000;
    }

  nav.sidebar.open {
    transform: translateX(0);
    }

  main.content {
    margin-right: 0;
     }
  .page {
    display: none;
    }
    .page.active {
    display: block;
    }
}
/* 📱 Mobile Responsive */

